/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; background-color: #fafafa }
body { margin: 0; font-family: cursive, "Helvetica Neue", sans-serif;font: inherit; }

.full-height {
height: 100%;
}

.full-width {
    width: 100px !important
}
.font-size-13 {
    font-size: 13px !important
}
.color-darkred {
    color:darkred
}
.color-dodgerblue {
    color:dodgerblue
}

.height_40 {
    height: 40px;
}

@media screen and (min-width: 601px) {
    .responsive-font-header {
      font-size: 20px;
    }
    .responsive-font {
        font-size: 15px;
    }
    .responsive-font-smaller {
        font-size: 12px;
    }
  }

  @media screen and (min-width: 450px) and (max-width: 600px) {
    .responsive-font-header {
      font-size: 18px;
    }
    .responsive-font {
        font-size: 14px;
    }
    .responsive-font-smaller {
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 449px) {
    .responsive-font-header {
      font-size: 15px;
    }
    .responsive-font {
        font-size: 12px;
    }
    .responsive-font-smaller {
        font-size: 8px;
    }
  }